In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Upernavik,GL,2021-10-26 01:40:56,72.7868,-56.1549,15.13,58,11,6.35
1,1,Bethel,US,2021-10-26 01:38:26,41.3712,-73.4140,66.99,92,90,1.99
2,2,Esperance,AU,2021-10-26 01:40:57,-33.8667,121.9000,55.24,64,70,6.49
3,3,Outjo,NaN,2021-10-26 01:40:57,-20.1167,16.1500,59.79,42,37,4.74
4,4,San Rafael,AR,2021-10-26 01:40:59,-34.6177,-68.3301,74.12,15,1,5.53

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
8,8,Rikitea,PF,2021-10-26 01:41:02,-23.1203,-134.9692,75.69,72,62,17.60
10,10,Payo,ID,2021-10-26 01:41:03,-3.7508,103.6372,83.43,74,100,0.54
11,11,Avarua,CK,2021-10-26 01:41:04,-21.2078,-159.7750,77.05,61,75,11.50
16,16,Cayenne,GF,2021-10-26 01:41:06,4.9333,-52.3333,78.10,89,20,1.01
18,18,Katherine,AU,2021-10-26 01:41:07,-14.4667,132.2667,89.92,51,0,6.91
25,25,Cabo San Lucas,MX,2021-10-26 01:38:23,22.8909,-109.9124,81.70,71,1,4.00
28,28,Vaini,TO,2021-10-26 01:36:23,-21.2000,-175.2000,80.76,74,20,11.50
29,29,Maceio,BR,2021-10-26 01:41:12,-9.6658,-35.7353,78.24,88,40,3.44
43,43,Atuona,PF,2021-10-26 01:41:19,-9.8000,-139.0333,77.95,72,14,16.13
47,47,Dingle,PH,2021-10-26 01:41:22,10.9995,122.6711,84.16,75,100,10.13

In [12]:
preferred_cities_df.count()

City_ID       153
City          153
Country       153
Date          153
Lat           153
Lng           153
Max Temp      153
Humidity      153
Cloudiness    153
Wind Speed    153
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
8          Rikitea      PF     75.69 -23.1203 -134.9692
10            Payo      ID     83.43  -3.7508  103.6372
11          Avarua      CK     77.05 -21.2078 -159.7750
16         Cayenne      GF     78.10   4.9333  -52.3333
18       Katherine      AU     89.92 -14.4667  132.2667
25  Cabo San Lucas      MX     81.70  22.8909 -109.9124
28           Vaini      TO     80.76 -21.2000 -175.2000
29          Maceio      BR     78.24  -9.6658  -35.7353
43          Atuona      PF     77.95  -9.8000 -139.0333
47          Dingle      PH     84.16  10.9995  122.6711

In [14]:
# Import API key
from config import g_key

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
8,Rikitea,PF,75.69,-23.1203,-134.9692,People ThankYou
10,Payo,ID,83.43,-3.7508,103.6372,Mess keban agung
11,Avarua,CK,77.05,-21.2078,-159.7750,Paradise Inn
16,Cayenne,GF,78.10,4.9333,-52.3333,Hôtel Le Dronmi
18,Katherine,AU,89.92,-14.4667,132.2667,Pine Tree Motel
25,Cabo San Lucas,MX,81.70,22.8909,-109.9124,Hotel Tesoro Los Cabos
28,Vaini,TO,80.76,-21.2000,-175.2000,Keleti Beach Resort
29,Maceio,BR,78.24,-9.6658,-35.7353,Poutur Pousada
43,Atuona,PF,77.95,-9.8000,-139.0333,Villa Enata
47,Dingle,PH,84.16,10.9995,122.6711,SEGAYA PROPERTY

In [19]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))